.app-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	min-height: 70px;
	padding: 15px;
	text-align: center;
}
.app-footer a {
	padding: 10px;
}
.app-footer p {
	font-size: clamp(var(--fz-xxs), 5vw, var(--fz-xs));
}
