.projects_section {
	/* temp putting line below to prevent lint error */
	visibility: visible;
}

.projects_section ul.projects-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.projects_section ul.projects-list > li {
	position: relative;
	display: grid;
	gap: 10px;
	align-items: center;
	grid-template-columns: repeat(12, 1fr);
	visibility: visible;
	opacity: 1;
	box-shadow: 0 10px 30px -15px var(--navy-shadow);
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
			calc(var(--index) * 0.1s),
		transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) calc(var(--index) * 0.1s);
}

.projects_section ul.projects-list > li:not(:last-of-type) {
	margin-bottom: 30px;
}

.projects_section ul.projects-list .project-content {
	position: relative;
	grid-area: 1 / 1 / -1 / 7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	z-index: 5;
	padding: 30px 25px 20px;
}

.projects_section ul.projects-list > li:nth-of-type(2n + 1) .project-content {
	grid-column: 1 / -1;
	padding: 25px 25px 20px;
	text-align: left;
}

.projects_section p.project-overline {
	margin: 10px 0px;
	font-weight: 400;
	color: var(--green);
	font-size: var(--fz-xs);
	font-family: var(--font-mono);
}

/*////////////////////////////////////////////////////////// TODO: 480px ~ Projects.css
////////////////////////////////////////////////////////// */
@media screen and (min-width: 480px) {
	.projects_section ul.projects-list > li:not(:last-of-type) {
		margin-bottom: 70px;
	}
	.projects_section ul.projects-list > li:nth-of-type(2n + 1) .project-content {
		padding: 40px 40px 30px;
	}
	.projects_section ul.projects-list .project-content {
		grid-column: 1 / -1;
		padding: 40px 40px 30px;
	}
}

/*////////////////////////////////////////////////////////// TODO: 768px ~ Projects.css
////////////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
	.projects_section ul.projects-list > li {
		box-shadow: unset;
	}
	.projects_section ul.projects-list > li:not(:last-of-type) {
		margin-bottom: 100px;
	}
	.projects_section ul.projects-list .project-content {
		grid-column: 1 / 9;
	}
}

/*////////////////////////////////////////////////////////// TODO: 768px ~ Projects.css
////////////////////////////////////////////////////////// */
@media screen and (min-width: 1080px) {
}
