.projects_section {
	/* temp putting line below to prevent lint error */
	visibility: visible;
}

.projects_section ul.projects-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.projects_section ul.projects-list > li {
	position: relative;
	display: grid;
	gap: 10px;
	align-items: center;
	grid-template-columns: repeat(12, 1fr);
	visibility: visible;
	opacity: 1;
	box-shadow: 0 10px 30px -15px var(--navy-shadow);
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)
			calc(var(--index) * 0.1s),
		transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) calc(var(--index) * 0.1s);
}

.projects_section ul.projects-list > li:not(:last-of-type) {
	margin-bottom: 30px;
}

/*////////////////////////////////////////////////////////// TODO: 480px ~ Projects.css
////////////////////////////////////////////////////////// */
@media screen and (min-width: 480px) {
	.projects_section ul.projects-list > li:not(:last-of-type) {
		margin-bottom: 70px;
	}
}

/*////////////////////////////////////////////////////////// TODO: 768px ~ Projects.css
////////////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
	.projects_section ul.projects-list > li {
		box-shadow: unset;
	}
	.projects_section ul.projects-list > li:not(:last-of-type) {
		margin-bottom: 100px;
	}
}
